html,
body {
  display: flex;
  flex-direction: column;
}

button {
  width: 80px;
  height: 30px;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

buttons {
	display:inline-block:
}

svg {
  margin: 40px;
}

.chart-container .chart-title {
  font-size: 18px;
  fill: #d3d3d3;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: center;
}

.chart-container .current-date {
  font-size: 45px;
  fill: #d3d3d3;
  text-anchor: end;
}

.y-axis text,
.y-axis .domain,
.x-axis .domain {
  display: none;
}

.x-axis .tick line {
  color: #d3d3d3;
}

.x-axis .tick text {
  color: #d3d3d3;
}

.columns .column-container .column-rect {
  fill: #E84A27;
}

.columns .column-container .column-title {
  text-anchor: end;
  fill: #13294B;
  dominant-baseline: middle;
  font-size: 14px;
}

.columns .column-container .column-value {
  fill:  #13294B;
  dominant-baseline: middle;
  font-size: 14px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 120px;					
    height: 42px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

//*.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
*/
/* AXES */
/* ticks */
.axis line{
stroke: #706f6f;
stroke-width: 0.5;
shape-rendering: crispEdges;
}

/* axis contour */
.axis path {
stroke: #706f6f;
stroke-width: 0.7;
shape-rendering: crispEdges;
}

/* axis text */
.axis text {
fill: #2b2929;
font-family: Georgia;
font-size: 80%;
}

/* LINE CHART */
path.line-0 {
    fill: none;
    stroke: #13294B;
}

path.line-1 {
    fill: none;
    stroke: #E84A27;
/*   stroke-dasharray: 2; */
}
path.line-2 {
    fill: none;
    stroke: #9c9c9c;
    stroke-dasharray: 6;
}

.serie_label {
  fill: #2b2929;
  font-family: Georgia;
  font-size: 80%;
}

/* LINE CHART */
.line {
fill: none;
stroke: #d2d2d2;
}

.ghost-line {
fill: none;
stroke: #d2d2d2;
opacity: 0;
stroke-width: 10;
}




